{% extends 'main/baseDoubleNav.html' %}
{%  load static %}
{% block title %}
SVFBalance | Profile
{% endblock %}

{%  block adminpushActive %} active {%  endblock %}

{% block body %}
<body>
<div class="container">
    <span><h3>Platzhalter</h3></span>
    <form action="" method="POST" class="weight-form">
        {% csrf_token %}
        <br>
        <table class="table">
            <tr>
                <td><label for="id_height">Height:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="height" value="{{ forms.height }}" id="id_height" /></td>
            </tr>
            <tr>
                <td><label for="id_weight">Weight:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="weight" value="{{ forms.weight }}" step="any" id="id_weight" /></td>
            </tr>
            <tr>
                <td><label for="id_fat">Fat:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="fat" value="{{ forms.fat }}" step="any" id="id_fat" /></td>
            </tr>
            <tr>
                <td><label for="id_muscle">Muscle:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="muscle" value="{{ forms.muscle }}" step="any" id="id_muscle" /></td>
            </tr>
            <tr>
                <td><label for="id_bone">Bone:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="bone" value="{{ forms.bone }}" step="any" id="id_bone" /></td>
            </tr>
            <tr>
                <td><label for="id_water">Water:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="water" value="{{ forms.water }}" step="any" id="id_water" /></td>
            </tr>
            <tr>
                <td><button type="submit" class="save btn btn-secondary">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
{% endblock %}