{% extends 'main/baseDoubleNav.html' %}
{%  load static %}
{% block title %}
SVFBalance | Modify Profile
{% endblock %}

{%  block modifyProfileActive %} active {%  endblock %}

{% block body %}
<head>
</head>
<body>
<div class="container">
    <span><h3>Editierbare Werte</h3></span>
    <form action="" method="POST" class="weight-form">
        {% csrf_token %}
        <br>
        <table class="table">
            <tr>
                <td><p><label for="id_picture">Picture:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td>Currently: <a href="/static/uploads/profilePics/updateapr27-7afa99f25ff74867a5e32d450211f5a8.jpg">profilePics/updateapr27-7afa99f25ff74867a5e32d450211f5a8.jpg</a></td>
            </tr>
            <tr>
                <td>Change:</td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="file" name="picture" id="id_picture" /></td>
            </tr>
            <tr>
                <td><label for="id_height">Height:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="height" value="167" id="id_height" /></td>
            </tr>
            <tr>
                <td><label for="id_weight">Weight:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="weight" value="85.0" step="any" id="id_weight" /></td>
            </tr>
            <tr>
                <td><label for="id_fat">Fat:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="fat" value="30.0" step="any" id="id_fat" /></td>
            </tr>
            <tr>
                <td><label for="id_muscle">Muscle:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="muscle" value="20.0" step="any" id="id_muscle" /></td>
            </tr>
            <tr>
                <td><label for="id_bone">Bone:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="bone" value="20.0" step="any" id="id_bone" /></td>
            </tr>
            <tr>
                <td><label for="id_water">Water:</label></td>
                <td><span class="border-right">&nbsp</span></td>
                <td><input type="number" name="water" value="20.0" step="any" id="id_water" /></td>
            </tr>
            <tr>
                <td><button type="submit" class="save btn btn-secondary">Save</button></td>
            </tr>
        </table>
        <br>
        <button type="submit" class="save btn btn-secondary">Save</button>
    </form>
</div>
</body>
</html>
{% endblock %}
