{% extends 'main/baseDoubleNav.html' %}
{%  load static %}
{% block title %}
SVFBalance | Profile
{% endblock %}

{%  block profileActive %} active {%  endblock %}

{% block body %}
<br>
    <div class="container">
    <span style="text-align: center"><h3>{{ context.first_name }} {{ context.last_name }}</h3></span>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-2" align="center">
                <img src="{{ context.picture }}" width="100px" height="100px" alt="Profile Image"><br>
                <a class="btn btn-primary"  style="border-style: solid; border-width: 1px; border-color: #1b1e21;" ><i class="fas fa-envelope"style="font-size: 12px"></i></a>
                <a class="btn btn-warning" href="{% url 'modify' %}" style="border-style: solid; border-width: 1px; border-color: #1b1e21"><i class="fas fa-edit" style="font-size: 12px"></i></a>
                <a class="btn btn-danger" style="border-style: solid; border-width: 1px; border-color: #1b1e21"><i class="fas fa-trash-alt" style="font-size: 12px"></i></a>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-10">
                <table class="table table-user-information">
                    <tr>
                        <td>Mitgliedsnummer: {{ context.id }}</td>
                        <td><span class="border-right">&nbsp</span></td>
                        <td>Mitglied seit: {{ context.date_joined }}</td>
                    </tr>
                    <tr>
                        <td>Geburtstag: {{ context.dateOfBirth }}</td>
                        <td><span class="border-right">&nbsp</span></td>
                        <td>Adresse: {{ context.adress }}</td>
                    </tr>
                    <tr>
                        <td>Email: {{ context.email }}</td>
                        <td><span class="border-right">&nbsp</span></td>
                        <td>Telefonnummer: {{ context.telephone }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row col-sm-auto col-md-12 col-lg-12">
            <h3 style="text-align: center">Körperdaten</h3>
            <table class="table">
                <tr>
                    <td>Geschlecht: {{ context.sex }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td>Körpergröße: {{ context.height }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td>Gewicht: {{ context.weight }}</td>
                </tr>
                <tr>
                    <td>Fettanteil: {{ context.fat }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td>Muskelanteil: {{ context.muscle }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td>Knochenanteil: {{ context.bone }}</td>
                </tr>
                <tr>
                    <td>Wasseranteil: {{ context.water }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td>BMI: {{ context.bmi }}</td>
                    <td><span class="border-right">&nbsp</span></td>
                    <td> </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <h5>Ziel:</h5><br>
            {{ context.goal }}
        </div>
        <div class="btn {% block modifyProfileActive %}{% endblock %}">
                <a class="btn btn-secondary" href="{% url 'modify' %}">Daten anpassen</a>
        </div>
    </div>

{% endblock %}
