{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
{% endblock %}

{% block statisticActive %}active{% endblock %}



{% block body %}
<div class="container">
<select id="dataSelection">
    <option value="Gewicht">Gewicht</option>
    <option value="Gewicht">Fettanteil</option>
    <option value="Gewicht">Wasseranteil</option>
    <option value="Gewicht">Muskelmasse</option>
    <option value="Gewicht">Knochenmasse</option>
    <option value="Gewicht">BMI</option>
</select>
    <span></span>
<button class="btn btn-danger" onclick="updateData(myLineChart)">update</button>
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {

        datasets: [{
            label:'Gewicht',
            data:[
                {% for item in context.items %}
                    {% for data in item %}
                        {% if data.date != "" %}
                        {
                            x: "{{ data.date }}",
                            y: {{ data.weight }}
                        },
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type:'time',
                time: {
                    displayFormats: {
                        quarter: 'DD MMM'
                    }
                }
            }]
        },
        title: {
            display: true,
            text: "test123"
        }

    }
    });

    var endpoint = '/profile/api/bodystats/'
    console.log(endpoint)
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data){
            console.log(data)
        },
        error: function (error_data) {
            console.log("error")
            console.log(error_data)
        }
    })
    function updateData(chart, txt) {
        chart.options.title.text = txt;
        chart.update()
    }

    $("select")
    .change(function () {
        var str = "";
        $("select option:selected").each(function () {
            str += $ (this ).text()+"";
        });
        updateData(myLineChart, str)
    })
    .trigger( "change" )
</script>


{% endblock %}