{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
{% endblock %}

{% block statisticActive %}active{% endblock %}



{% block body %}
<div class="container">
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:["June 1, 2018", "June 25, 2018"],
        datasets: [{
            label:'weight',
            data:[
                {% for item in context.items %}
                    {% for data in item %}
                        {% if data.date != "" %}
                        {
                            x: "{{ data.date }}",
                            y: {{ data.weight }}
                        },
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            ]
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type:'time',
                time: {
                    displayFormats: {
                        quarter: 'DD MMM'
                    }
                }
            }]
        }
    }
    });

</script>


{% endblock %}