{% extends 'base.html' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
{% endblock %}

{% block statisticActive %}active{% endblock %}



{% block body %}

    {{ context }}
    <hr>
    {% for item in context.items %}
        {% for data in item %}
            {{ data.weight }}<br>
            {{ data.date }}
            {% endfor %}
    {% endfor %}

    <canvas id="myChart"></canvas>

<script>
    var ctx = document.getElementById("myChart");
    var myLineChart = new Chart(ctx, {
    type: 'line',
    data: [{
        x: 10,
        y: 20
    }, {
        x: 15,
        y: 10
    }],
    options: ""
    });

</script>


{% endblock %}