{% extends 'main/baseDoubleNav.html' %}

{% block title %}
SVFBalance | Training
{% endblock %}

{%  block trainingActive %} active {%  endblock %}

{% block body %}
<h1> this is Training!!11</h1>


    {%  for exercise in plan %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ image }}" alt="alt Text">
        <div class="card-body">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">{{ information }}</p>
        </div>
        <ul class="list-group list-group-flush">
            {% for attributes in excercise %}
            <li class="list-group-item">{{ anntribute }} : {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    {%  endfor %}


{% endblock %}
