{% extends 'main/baseDoubleNav.html' %}
{%  load static %}
{% block title %}
SVFBalance | Training
{% endblock %}

{%  block trainingActive %} active {%  endblock %}
{% block head %}
    {% load pwa %}
    {% progressive_web_app_meta %}
{% endblock %}
{% block body %}


    <div class="container">
     <span class="badge badge-danger" style="alignment: center; font-size: 25px">{{ error }}</span>
        <div class="row">
            {%  for item in routine %}
                <div class="card" style="width: 18rem; margin: 0.4rem">
                    <img class="card-img-top" src="{{ item.picture }}" alt="Activity image" width="100%" height="200rem">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <!-- hat keine auswirkung ???
                    <p class="card-text">DEPP {{ information }}</p>
                    -->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Equipment: {{ item.equipment }}</li>
                    <li class="list-group-item">Description: {{ item.description }}</li>
                    <li class="list-group-item">Setup: {{ item.setup }}</li>
                    <li class="list-group-item">Sets: {{ item.sets }}</li>
                    <li class="list-group-item">Repetitions: {{ item.reps }}</li>
                </ul>
                </div>

            {%  endfor %}
        </div>

    </div>

    <!-- Modals not working -->
    <div class="modal fade" id="newTraining" tabindex="-1" role="dialog" aria-labelledby="newTrainingLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTrainingLabel">erneut trainieren?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Du hast heute bereits trainiert. Willst du ein neues Training starten?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                    <button type="button" class="btn btn-primary">Neues Workout</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
