{% extends 'main/baseDoubleNav.html' %}
{%  load static %}
{% block title %}
SVFBalance | Training
{% endblock %}

{%  block trainingActive %} active {%  endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            {%  for exercise_key, exercise_value in context.items %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="#" alt="alt Text">
                <div class="card-body">
                    <h5 class="card-title">{{ exercise_key }}</h5>
                    <p class="card-text">{{ information }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for key, value in exercise_value.items %}
                        <li class="list-group-item">{{ key }} : {{ value }}</li>
                    {% endfor %}
                    <li class="list-group-item"><button type="button" class="btn btn-secodary">Abgeschlossen</button></li>
                </ul>
                </div>
            {%  endfor %}
        </div>
        <div class="row">
            <div class="col" align="center">
            <button class="btn btn-info">Training abgeschlossen</button>
            </div>
        </div>
    </div>
{% endblock %}
