{% extends 'base.html' %}

{% block body %}

    <div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <button class="btn btn-info" data-toggle="collapse" data-target="#leftBar"><i class="fas fa-arrow-alt-circle-down"></i></button>
            <div id="leftBar" class="collapse">
                test123
            </div>

        </div>
        <div class="col-10">
            hure123
        </div>
    </div>

    </div>
{% endblock %}

{%  block content %}
{%  endblock %}