{% extends 'base.html' %}

{% block body %}
    <div class="container" role="main" id="content">
        <section id="mitte" class="twelvecol">
            <article class="textelement layout0" id="c593"><h1>Impressum</h1>
                <p><span style="font-weight:normal">nach § 6 TDG oder § 10 Abs. 2 und 3 MDStV1</span></p>
                <p><b><b>S</b>port<b>v</b>erein <b>F</b>ellbach<br>SVF Geschäftsstelle</b><br>Schillerstraße 8
                    (Wichernschule)<br>Eingang Kirchhofstraße 70734 Fellbach<span style="font-weight:normal"
                                                                                  lang="SV"><br></span>Telefon : 0711 /
                    58 69 05<span style="font-weight:normal" lang="SV"><br></span>Telefax : 0711 / 58 90 57<span
                            style="font-weight:normal"><br></span>E-Mail : <a href="mailto:info@svfellbach.de"
                                                                              title="Öffnet ein Fenster zum Versenden der E-Mail"
                                                                              class="mail">info@svfellbach.de </a></p>
                <p><span style="font-weight: bold;">Geschäftsführer:</span><span
                        style="font-weight:normal"> Udo Wente<br><span
                        style="font-weight: bold;">Sitz der Gesellschaft:</span></span> 70734 Fellbach<span
                        style="font-weight:normal" lang="SV"><br></span></p>
                <p><span style="font-weight: bold; ">Vereinsregisternummer:</span> Amtsgericht Waiblingen 200<br><span
                        style="font-weight: bold; ">Verantwortlich für den Internetauftritt: </span>Udo Wente</p>
            </article>
            <article class="textelement layout0" id="c594"><h2>Urheberrecht</h2>
                <p><span style="font-weight:normal">© 2018, Sportverein Fellbach. Alle Texte, Bilder, Grafiken, Ton-, Video- und Animationsdateien sowie deren Aufbereitung unterliegen dem Urheberrecht und anderen Gesetzen zum Schutz geistigen Eigentums. Sie dürfen weder für Handelszwecke kopiert, noch zur Weitergabe kopiert oder auf anderen Websites verwendet werden. Auch einige verlinkte Websites von Kunden enthalten Material, das dem Urheberrecht derjenigen unterliegt, die dieses zur Verfügung gestellt haben.</span>
                </p></article>
            <article class="textelement layout0" id="c595"><h2>Haftung</h2>
                <p>Die Informationen und Angaben auf dieser Website stellen keine Zusicherung oder Garantie dar, weder
                    ausdrücklich noch stillschweigend. Sie stellen insbesondere keine stillschweigende Zusage oder
                    Garantie dar bezüglich der Beschaffenheit, Handelsfähigkeit und Eignung für bestimmte Zwecke oder
                    den Nichtverstoß gegen Patente und Gesetze.</p></article>
            <article class="textbildelement layout0 with-headline" id="c1207"><h1>Informationen zur
                Online-Streitbeilegung</h1>
                <p>Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten (sog.
                    „OS-Plattform“) geschaffen. Die OS-Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung
                    von Streitigkeiten betreffend vertragliche Verpflichtungen, die aus Online-Kaufverträgen erwachsen.
                    Sie können die OS-Plattform unter dem folgenden Link erreichen: <a
                            href="http://ec.europa.eu/consumers/odr" target="_blank">ec.europa.eu/consumers/odr</a></p>
                <p>Hinweis gemäß § 36 Verbraucherstreitbeilegungsgesetz (VSBG)<br>Der SVF<span style="color: red;">&nbsp;</span>wird
                    nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle im Sinne des VSBG
                    teilnehmen und ist hierzu auch nicht verpflichtet.</p></article>
        </section>
    </div>
{% endblock %}