{% extends 'base.html' %}

{% block title %}
SVFBalance | Startseite
{% endblock %}

{%  block homeActive %} active {%  endblock %}


{% block body %}
    {% comment %}    if user authenticated           {%  endcomment %}


    {%  comment %} if not authenticated {%  endcomment %}

    <div class="jumbotron">
        <h1 class="display-4">Herzlich Willkommen!</h1>
        <p class="lead">Irgendein Text</p>
        <hr class="my-4">
        <p> Bitte Logge dich ein</p>
        <button type="button" class="btn btn-secondary">Login</button>
        <p>Solltest du noch keinen Account habe, mache direkt einen Termin!</p>
        <button type="button" class="btn btn-light">Kontakt</button>
    </div>

    <h3>Herzlich Wilkommen auf der Trainingsseite des SV Fellbach Balance <br> Seve ist inkompetent</h3>
    <span>Bitte logge Dich ein, um die neusten Informationen zu sehen, deinen Trainingsplan durchzuführen oder
    deinen Trainingsfortschritt zu verfolgen.

    Solltest du noch keinen Account haben, wende dich bei deinem nächsten Besuch einfach an einen unserer Trainer oder vereinbare
    einen Termin für ein Probetraining.</span>

{% endblock %}
