{% extends 'base.html' %}

{% block title %}
SVFBalance | Startseite
{% endblock %}

{%  block homeActive %} active {%  endblock %}


{% block body %}
<h1> this is INDEEEEX!!11</h1>

    {% comment %}    if user authenticated           {%  endcomment %}


    {%  comment %} if not authenticated {%  endcomment %}

    <h3>Herzlich Wilkommen auf der Trainingsseite des SV Fellbach Balance</h3>
    <span>Bitte logge Dich ein, um die neusten Informationen zu sehen, deinen Trainingsplan durchzuführen oder
    deinen Trainingsfortschritt zu verfolgen.

    Solltest du noch keinen Account haben, wende dich bei deinem nächsten Besuch einfach an einen unserer Trainer oder vereinbare
    einen Termin für ein Probetraining.</span>

{% endblock %}
