{%  extends 'base.html' %}

{% block newsActive %}active{% endblock %}

{% block body %}
    <div class="container">
    <br>
    {% for items in context %}
        {% for key,value in items.items %}
           <div class="jumbotron" style="padding: 1rem 1rem">
                <div class="media">
                <img class="mr-3" src="#" alt="newsimage">
                <div class="media-body">
                    <span style="color: darkgrey">{{ value.date }}</span>
                    <h5 class="mt-0">{{ value.headline }}</h5>
                    {{ value.text }}
                </div>
                </div>
                </div>
            {% endfor %}
    {% endfor %}
    </div>
{% endblock %}